<div class='container'>
<div class="card">
        <div class="card-body d-flex flex-column align-items-start">
<h1 class='align-self-center'><%=@recipe.name%></h1>
<h6 class='m-3'>Preparation time: <%=@recipe.preparation_time%><h6>
<h6 class='m-3'>Cooking time: <%=@recipe.cooking_time%><h6>
<h6 class='m-3'>Steps go here ... </h6>
</div>
</div>
</div>